.modal.fade#menu(tabindex="-1" role="dialog" aria-labelledby="menulLabel" aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      //-.modal-header
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
      .modal-body
        span.back Главная
        ul
            li.top-item
                a(href="#").no-link Женщинам
                ul.sub-category
                    li
                        a(href="#").arrow Женщинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Детям
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").page Для высоких
                    li
                        a(href="#").page Для невысоких
                    li
                        a(href="#").page Белье
                    li
                        a(href="#").page Одежда для дома
                    li
                        a(href="#").page Офис
                    li
                        a(href="#").page Свадьба
                    li
                        a(href="#").arrow Религиозная
                        ul.categories
                            li
                                a(href="#") Ислам
                            li
                                a(href="#") Православие
                            li
                                a(href="#") Аксессуары
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
            li.top-item
                a(href="#").no-link Мужчинам
                ul.sub-category
                    li
                        a(href="#").arrow Женщинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Детям
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").page Для высоких
                    li
                        a(href="#").page Для невысоких
                    li
                        a(href="#").page Белье
                    li
                        a(href="#").page Одежда для дома
                    li
                        a(href="#").page Офис
                    li
                        a(href="#").page Свадьба
                    li
                        a(href="#").arrow Религиозная
                        ul.categories
                            li
                                a(href="#") Ислам
                            li
                                a(href="#") Православие
                            li
                                a(href="#") Аксессуары
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
            li.top-item
                a(href="#").no-link Детям
                ul.sub-category
                    li
                        a(href="#").arrow Женщинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Детям
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").page Для высоких
                    li
                        a(href="#").page Для невысоких
                    li
                        a(href="#").page Белье
                    li
                        a(href="#").page Одежда для дома
                    li
                        a(href="#").page Офис
                    li
                        a(href="#").page Свадьба
                    li
                        a(href="#").arrow Религиозная
                        ul.categories
                            li
                                a(href="#") Ислам
                            li
                                a(href="#") Православие
                            li
                                a(href="#") Аксессуары
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
            li.top-item
                a(href="#").no-link Обувь
                ul.sub-category
                    li
                        a(href="#").arrow Женщинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Детям
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").page Для высоких
                    li
                        a(href="#").page Для невысоких
                    li
                        a(href="#").page Белье
                    li
                        a(href="#").page Одежда для дома
                    li
                        a(href="#").page Офис
                    li
                        a(href="#").page Свадьба
                    li
                        a(href="#").arrow Религиозная
                        ul.categories
                            li
                                a(href="#") Ислам
                            li
                                a(href="#") Православие
                            li
                                a(href="#") Аксессуары
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
            li.top-item
                a(href="#").no-link Аксессуары
                ul.sub-category
                    li
                        a(href="#").arrow Женщинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Детям
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").page Для высоких
                    li
                        a(href="#").page Для невысоких
                    li
                        a(href="#").page Белье
                    li
                        a(href="#").page Одежда для дома
                    li
                        a(href="#").page Офис
                    li
                        a(href="#").page Свадьба
                    li
                        a(href="#").arrow Религиозная
                        ul.categories
                            li
                                a(href="#") Ислам
                            li
                                a(href="#") Православие
                            li
                                a(href="#") Аксессуары
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
            li.top-item
                a(href="#").no-link Электроника
                ul.sub-category
                    li
                        a(href="#").arrow Женщинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Детям
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").page Для высоких
                    li
                        a(href="#").page Для невысоких
                    li
                        a(href="#").page Белье
                    li
                        a(href="#").page Одежда для дома
                    li
                        a(href="#").page Офис
                    li
                        a(href="#").page Свадьба
                    li
                        a(href="#").arrow Религиозная
                        ul.categories
                            li
                                a(href="#") Ислам
                            li
                                a(href="#") Православие
                            li
                                a(href="#") Аксессуары
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
            li.top-item
                a(href="#").no-link Видеообзоры
                ul.sub-category
                    li
                        a(href="#").arrow Женщинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Детям
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").page Для высоких
                    li
                        a(href="#").page Для невысоких
                    li
                        a(href="#").page Белье
                    li
                        a(href="#").page Одежда для дома
                    li
                        a(href="#").page Офис
                    li
                        a(href="#").page Свадьба
                    li
                        a(href="#").arrow Религиозная
                        ul.categories
                            li
                                a(href="#") Ислам
                            li
                                a(href="#") Православие
                            li
                                a(href="#") Аксессуары
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
            li.top-item
                a(href="#").no-link Авиабилеты
                ul.sub-category
                    li
                        a(href="#").arrow Женщинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Детям
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").page Для высоких
                    li
                        a(href="#").page Для невысоких
                    li
                        a(href="#").page Белье
                    li
                        a(href="#").page Одежда для дома
                    li
                        a(href="#").page Офис
                    li
                        a(href="#").page Свадьба
                    li
                        a(href="#").arrow Религиозная
                        ul.categories
                            li
                                a(href="#") Ислам
                            li
                                a(href="#") Православие
                            li
                                a(href="#") Аксессуары
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
            li.top-item
                a(href="#").no-link Доставка
                ul.sub-category
                    li
                        a(href="#").arrow Женщинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Детям
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").page Для высоких
                    li
                        a(href="#").page Для невысоких
                    li
                        a(href="#").page Белье
                    li
                        a(href="#").page Одежда для дома
                    li
                        a(href="#").page Офис
                    li
                        a(href="#").page Свадьба
                    li
                        a(href="#").arrow Религиозная
                        ul.categories
                            li
                                a(href="#") Ислам
                            li
                                a(href="#") Православие
                            li
                                a(href="#") Аксессуары
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
            li.top-item
                a(href="#").no-link Книги
                ul.sub-category
                    li
                        a(href="#").arrow Женщинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Детям
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").page Для высоких
                    li
                        a(href="#").page Для невысоких
                    li
                        a(href="#").page Белье
                    li
                        a(href="#").page Одежда для дома
                    li
                        a(href="#").page Офис
                    li
                        a(href="#").page Свадьба
                    li
                        a(href="#").arrow Религиозная
                        ul.categories
                            li
                                a(href="#") Ислам
                            li
                                a(href="#") Православие
                            li
                                a(href="#") Аксессуары
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
            li.top-item
                a(href="#").no-link Спорт
                ul.sub-category
                    li
                        a(href="#").arrow Женщинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Детям
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").page Для высоких
                    li
                        a(href="#").page Для невысоких
                    li
                        a(href="#").page Белье
                    li
                        a(href="#").page Одежда для дома
                    li
                        a(href="#").page Офис
                    li
                        a(href="#").page Свадьба
                    li
                        a(href="#").arrow Религиозная
                        ul.categories
                            li
                                a(href="#") Ислам
                            li
                                a(href="#") Православие
                            li
                                a(href="#") Аксессуары
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
            li.top-item
                a(href="#").no-link Школа
                ul.sub-category
                    li
                        a(href="#").arrow Женщинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Детям
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").page Для высоких
                    li
                        a(href="#").page Для невысоких
                    li
                        a(href="#").page Белье
                    li
                        a(href="#").page Одежда для дома
                    li
                        a(href="#").page Офис
                    li
                        a(href="#").page Свадьба
                    li
                        a(href="#").arrow Религиозная
                        ul.categories
                            li
                                a(href="#") Ислам
                            li
                                a(href="#") Православие
                            li
                                a(href="#") Аксессуары
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
            li.top-item
                a(href="#").no-link Красота
                ul.sub-category
                    li
                        a(href="#").arrow Женщинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Детям
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").page Для высоких
                    li
                        a(href="#").page Для невысоких
                    li
                        a(href="#").page Белье
                    li
                        a(href="#").page Одежда для дома
                    li
                        a(href="#").page Офис
                    li
                        a(href="#").page Свадьба
                    li
                        a(href="#").arrow Религиозная
                        ul.categories
                            li
                                a(href="#") Ислам
                            li
                                a(href="#") Православие
                            li
                                a(href="#") Аксессуары
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
            li.top-item
                a(href="#").no-link Игрушки
                ul.sub-category
                    li
                        a(href="#").arrow Женщинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Детям
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").page Для высоких
                    li
                        a(href="#").page Для невысоких
                    li
                        a(href="#").page Белье
                    li
                        a(href="#").page Одежда для дома
                    li
                        a(href="#").page Офис
                    li
                        a(href="#").page Свадьба
                    li
                        a(href="#").arrow Религиозная
                        ul.categories
                            li
                                a(href="#") Ислам
                            li
                                a(href="#") Православие
                            li
                                a(href="#") Аксессуары
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
            li.top-item
                a(href="#").no-link Продукты
                ul.sub-category
                    li
                        a(href="#").arrow Женщинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Детям
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").page Для высоких
                    li
                        a(href="#").page Для невысоких
                    li
                        a(href="#").page Белье
                    li
                        a(href="#").page Одежда для дома
                    li
                        a(href="#").page Офис
                    li
                        a(href="#").page Свадьба
                    li
                        a(href="#").arrow Религиозная
                        ul.categories
                            li
                                a(href="#") Ислам
                            li
                                a(href="#") Православие
                            li
                                a(href="#") Аксессуары
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
            li.top-item
                a(href="#").no-link Сад и дача
                ul.sub-category
                    li
                        a(href="#").arrow Женщинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Детям
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").page Для высоких
                    li
                        a(href="#").page Для невысоких
                    li
                        a(href="#").page Белье
                    li
                        a(href="#").page Одежда для дома
                    li
                        a(href="#").page Офис
                    li
                        a(href="#").page Свадьба
                    li
                        a(href="#").arrow Религиозная
                        ul.categories
                            li
                                a(href="#") Ислам
                            li
                                a(href="#") Православие
                            li
                                a(href="#") Аксессуары
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
            li.top-item
                a(href="#").no-link Бытовая техника
                ul.sub-category
                    li
                        a(href="#").arrow Женщинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Детям
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").page Для высоких
                    li
                        a(href="#").page Для невысоких
                    li
                        a(href="#").page Белье
                    li
                        a(href="#").page Одежда для дома
                    li
                        a(href="#").page Офис
                    li
                        a(href="#").page Свадьба
                    li
                        a(href="#").arrow Религиозная
                        ul.categories
                            li
                                a(href="#") Ислам
                            li
                                a(href="#") Православие
                            li
                                a(href="#") Аксессуары
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
            li.top-item
                a(href="#").no-link Книги
                ul.sub-category
                    li
                        a(href="#").arrow Женщинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Детям
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").page Для высоких
                    li
                        a(href="#").page Для невысоких
                    li
                        a(href="#").page Белье
                    li
                        a(href="#").page Одежда для дома
                    li
                        a(href="#").page Офис
                    li
                        a(href="#").page Свадьба
                    li
                        a(href="#").arrow Религиозная
                        ul.categories
                            li
                                a(href="#") Ислам
                            li
                                a(href="#") Православие
                            li
                                a(href="#") Аксессуары
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
            li.top-item
                a(href="#").no-link Спорт
                ul.sub-category
                    li
                        a(href="#").arrow Женщинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Детям
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").page Для высоких
                    li
                        a(href="#").page Для невысоких
                    li
                        a(href="#").page Белье
                    li
                        a(href="#").page Одежда для дома
                    li
                        a(href="#").page Офис
                    li
                        a(href="#").page Свадьба
                    li
                        a(href="#").arrow Религиозная
                        ul.categories
                            li
                                a(href="#") Ислам
                            li
                                a(href="#") Православие
                            li
                                a(href="#") Аксессуары
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
            li.top-item
                a(href="#").no-link Зоотовары
                ul.sub-category
                    li
                        a(href="#").arrow Женщинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Детям
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").page Для высоких
                    li
                        a(href="#").page Для невысоких
                    li
                        a(href="#").page Белье
                    li
                        a(href="#").page Одежда для дома
                    li
                        a(href="#").page Офис
                    li
                        a(href="#").page Свадьба
                    li
                        a(href="#").arrow Религиозная
                        ul.categories
                            li
                                a(href="#") Ислам
                            li
                                a(href="#") Православие
                            li
                                a(href="#") Аксессуары
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
            li.top-item
                a(href="#").no-link Канцтовары
                ul.sub-category
                    li
                        a(href="#").arrow Женщинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Детям
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").page Для высоких
                    li
                        a(href="#").page Для невысоких
                    li
                        a(href="#").page Белье
                    li
                        a(href="#").page Одежда для дома
                    li
                        a(href="#").page Офис
                    li
                        a(href="#").page Свадьба
                    li
                        a(href="#").arrow Религиозная
                        ul.categories
                            li
                                a(href="#") Ислам
                            li
                                a(href="#") Православие
                            li
                                a(href="#") Аксессуары
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
            li.top-item
                a(href="#").no-link Здоровье
                ul.sub-category
                    li
                        a(href="#").arrow Женщинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Детям
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").page Для высоких
                    li
                        a(href="#").page Для невысоких
                    li
                        a(href="#").page Белье
                    li
                        a(href="#").page Одежда для дома
                    li
                        a(href="#").page Офис
                    li
                        a(href="#").page Свадьба
                    li
                        a(href="#").arrow Религиозная
                        ul.categories
                            li
                                a(href="#") Ислам
                            li
                                a(href="#") Православие
                            li
                                a(href="#") Аксессуары
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
            li.top-item
                a(href="#").no-link Для ремонта
                ul.sub-category
                    li
                        a(href="#").arrow Женщинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Детям
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").page Для высоких
                    li
                        a(href="#").page Для невысоких
                    li
                        a(href="#").page Белье
                    li
                        a(href="#").page Одежда для дома
                    li
                        a(href="#").page Офис
                    li
                        a(href="#").page Свадьба
                    li
                        a(href="#").arrow Религиозная
                        ul.categories
                            li
                                a(href="#") Ислам
                            li
                                a(href="#") Православие
                            li
                                a(href="#") Аксессуары
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
            li.top-item
                a(href="#").no-link Дом
                ul.sub-category
                    li
                        a(href="#").arrow Женщинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Детям
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#") Видеообзоры
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").page Для высоких
                    li
                        a(href="#").page Для невысоких
                    li
                        a(href="#").page Белье
                    li
                        a(href="#").page Одежда для дома
                    li
                        a(href="#").page Офис
                    li
                        a(href="#").page Свадьба
                    li
                        a(href="#").arrow Религиозная
                        ul.categories
                            li
                                a(href="#") Ислам
                            li
                                a(href="#") Православие
                            li
                                a(href="#") Аксессуары
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
                    li
                        a(href="#").arrow Подарки мужчинам
                        ul.categories
                            li
                                a(href="#") Мужчинам
                            li
                                a(href="#") Электроника
                            li
                                a(href="#") Аксессуары
                            li
                                a(href="#").all Все категории
    .modal-sub-content.hidden
        ul
            li 1
            li 2
            li 3
            li 4
            li 5
