header
    .container
        .header
            .buttons
                a(href="#").button.empty Бесплатная доставка
                a(href="#").button.linear Продавайте на Кактус 
            .contacts
                .phones
                    .img
                        img(src="/img/png/phone.png", alt="")
                    ul
                        li
                            a(href="#") +38
                                span  (071) 354-72-62
                        li
                            a(href="#") +38
                                span  (095) 218-18-14
                        li.additionally Ежедневно с 9:00 до 18:00
                .residence
                    .img
                        img(src="/img/png/point.png", alt="")
                    ul
                        li
                            span г. Донецк 83023,
                                br 
                                span пр. Павших Коммунаров, 100/51
                        li.additionally 
                            a(href="#")  kaktusshop@gmail.com
            ul.social
                li
                    a(href="#").social-icon
                        img(src="/img/png/telegramm.png", alt="")
                li
                    a(href="#").social-icon
                        img(src="/img/png/viber.png", alt="")
                li
                    a(href="#").social-icon
                        img(src="/img/png/vk.png", alt="")
                li
                    a(href="#").social-icon
                        img(src="/img/png/whatsapp.png", alt="")
                li
                    a(href="#").social-icon
                        img(src="/img/png/inst.png", alt="")
        .navigation
            .logo
                img(src="/img/png/logo.png", alt="")
            .menu
                .burger
                    span
                    span
                    span
                span меню
            .find-bar
                form(action="#")
                    input(type="text" placeholder="Я хочу найти...")
                    button(type="submit")
                        img(src="/img/png/search.png", alt="")
            ul.actions-icons
                li
                    a(href="#")
                        img(src="/img/png/point_wt.png", alt="")
                        span Адреса
                li
                    a(href="#")
                        img(src="/img/png/log_in.png", alt="")
                        span Войти
                li
                    a(href="#")
                        img(src="/img/png/basket.png", alt="")
                        span Корзина