header
    .container
        .header
            .buttons
                a(href="#").button.empty Бесплатная доставка
                a(href="#").button.linear Продавайте на Кактус 
            .right
                .contacts
                    .phones
                        .img
                            img(src="/img/png/phone.png", alt="")
                        ul
                            li
                                a(href="#") +38
                                    span  (071) 354-72-62
                            li
                                a(href="#") +38
                                    span  (095) 218-18-14
                            li.additionally Ежедневно с 9:00 до 18:00
                    .residence
                        .img
                            img(src="/img/png/point.png", alt="")
                        ul
                            li
                                span г. Донецк 83023,
                                    br 
                                    span пр. Павших Коммунаров, 100/51
                            li.additionally 
                                a(href="#")  kaktusshop@gmail.com
                ul.social
                    li
                        a(href="#").social-icon
                            svg(width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M6.59199 9.22694L6.31409 13.1357C6.71169 13.1357 6.88389 12.9649 7.09039 12.7598L8.95448 10.9783L12.8171 13.807C13.5255 14.2018 14.0246 13.9939 14.2157 13.1553L16.751 1.27498L16.7517 1.27428C16.9764 0.227083 16.373 -0.182415 15.6828 0.0744835L0.779921 5.78015C-0.237174 6.17495 -0.221774 6.74195 0.607022 6.99885L4.4171 8.18394L13.2672 2.64627C13.6837 2.37047 14.0624 2.52307 13.7509 2.79887L6.59199 9.22694Z" fill="white")

                    li
                        a(href="#").social-icon
                            svg(width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M18.13 11.5783C18.7261 6.56022 17.8436 3.39218 16.2517 1.95928L16.2525 1.95845C13.6831 -0.488562 5.00575 -0.850743 1.93179 2.06835C0.551344 3.49626 0.0651064 5.59191 0.0118201 8.18629C-0.0414663 10.7815 -0.104744 15.643 4.42543 16.9619H4.42959L4.42543 18.9759C4.42543 18.9759 4.39462 19.7919 4.91583 19.9559C5.51197 20.1491 5.78173 19.7702 7.63593 17.5555C10.7365 17.8245 13.1178 17.2083 13.3884 17.1184C14.0145 16.9086 17.5572 16.4398 18.13 11.5783ZM7.94149 16.1384C7.94149 16.1384 5.97906 18.5854 5.36876 19.2207C5.16894 19.4272 4.94996 19.4081 4.95329 18.9984C4.95329 18.7295 4.96828 15.6547 4.96828 15.6547C1.1275 14.554 1.35397 10.4143 1.3956 8.24873C1.43723 6.08231 1.83355 4.30804 3.00252 3.11326C5.6993 0.584658 13.3068 1.14999 15.245 2.97172C17.6146 5.07237 16.7712 11.0071 16.7762 11.2095C16.2891 15.2675 13.4183 15.5248 12.8905 15.7005C12.6648 15.7754 10.5708 16.3141 7.94149 16.1384Z" fill="white")
                                path(d="M9.0272 3.58867C8.70665 3.58867 8.70665 4.08823 9.0272 4.0924C11.5142 4.11155 13.5624 5.84502 13.5848 9.02471C13.5848 9.36025 14.0761 9.35609 14.0719 9.02055H14.0711C14.0444 5.59441 11.8081 3.60782 9.0272 3.58867Z" fill="white")
                                path(d="M12.2985 8.49768C12.291 8.82905 12.7814 8.84487 12.7856 8.50933C12.8263 6.62017 11.6615 5.06404 9.47264 4.90002C9.15209 4.87671 9.11879 5.38043 9.4385 5.40374C11.3368 5.54778 12.3368 6.8433 12.2985 8.49768Z" fill="white")
                                path(d="M11.7739 10.6466C11.3626 10.4085 10.9438 10.5567 10.7707 10.7907L10.4085 11.2594C10.2245 11.4975 9.88061 11.4659 9.88061 11.4659C7.37116 10.8023 6.70009 8.1763 6.70009 8.1763C6.70009 8.1763 6.66928 7.82078 6.89908 7.63011L7.35201 7.25544C7.57848 7.0756 7.72168 6.64265 7.49106 6.21719C6.87493 5.104 6.46113 4.72018 6.25048 4.42544C6.02901 4.14818 5.69597 4.08574 5.34961 4.27307H5.34212C4.62192 4.69437 3.83345 5.48284 4.08573 6.29462C4.51618 7.15053 5.30715 9.87896 7.82826 11.9405C9.01305 12.9154 10.8881 13.9146 11.684 14.1452L11.6915 14.1569C12.4758 14.4183 13.2385 13.599 13.6456 12.8572V12.8513C13.8263 12.4925 13.7664 12.1528 13.5024 11.9305C13.0345 11.4742 12.3285 10.9705 11.7739 10.6466Z" fill="white")
                                path(d="M9.81567 6.75838C10.6158 6.805 11.0038 7.22297 11.0454 8.08138C11.0604 8.41692 11.5475 8.3936 11.5325 8.05807C11.4792 6.93739 10.8947 6.31294 9.84232 6.25466C9.52176 6.23551 9.49179 6.73923 9.81567 6.75838Z" fill="white")

                    li
                        a(href="#").social-icon
                            svg(width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M16.5964 6.69023C16.2731 6.28188 16.3656 6.10021 16.5964 5.7352C16.6006 5.73103 19.2698 2.04257 19.5448 0.791694L19.5465 0.790861C19.6832 0.335012 19.5465 0 18.8857 0H16.6989C16.1422 0 15.8856 0.28751 15.748 0.609188C15.748 0.609188 14.6347 3.27428 13.0596 5.00184C12.5513 5.50102 12.3163 5.66103 12.0388 5.66103C11.9021 5.66103 11.6896 5.50102 11.6896 5.04518V0.790861C11.6896 0.244175 11.5337 0 11.0729 0H7.63443C7.28525 0 7.07775 0.255009 7.07775 0.492517C7.07775 1.01087 7.86527 1.13004 7.94694 2.58842V5.7527C7.94694 6.44606 7.8211 6.57356 7.54193 6.57356C6.79857 6.57356 4.99434 3.89764 3.92514 0.835029C3.7093 0.240842 3.49845 0.000833302 2.9376 0.000833302H0.750026C0.125838 0.000833302 0 0.288343 0 0.610021C0 1.17837 0.743359 4.00431 3.45679 7.73777C5.26518 10.2862 7.81194 11.6671 10.1287 11.6671C11.5212 11.6671 11.6912 11.3604 11.6912 10.8329C11.6912 8.39779 11.5654 8.16778 12.2629 8.16778C12.5863 8.16778 13.143 8.32779 14.443 9.557C15.9289 11.0145 16.1731 11.6671 17.0048 11.6671H19.1915C19.8149 11.6671 20.1307 11.3604 19.949 10.7554C19.5332 9.48283 16.7231 6.86524 16.5964 6.69023Z" fill="white")
                    li
                        a(href="#").social-icon
                            svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M13.13 10.7304L13.1233 10.7866C11.474 9.96464 11.3015 9.85515 11.0885 10.1746C10.9408 10.3959 10.5103 10.8976 10.3806 11.0461C10.2493 11.1924 10.1188 11.2036 9.89607 11.1024C9.67107 10.9899 8.94884 10.7536 8.09385 9.98864C7.42787 9.3924 6.98087 8.66117 6.84888 8.43617C6.62913 8.05668 7.08887 8.00268 7.50736 7.21069C7.58236 7.0532 7.54411 6.92945 7.48861 6.8177C7.43237 6.7052 6.98462 5.60272 6.79713 5.16323C6.61713 4.72524 6.43188 4.78074 6.29314 4.78074C5.86114 4.74324 5.5454 4.74924 5.26715 5.03873C4.05668 6.36921 4.36192 7.74168 5.39765 9.20116C7.43312 11.8651 8.5176 12.3556 10.5006 13.0366C11.0361 13.2068 11.5243 13.1828 11.9105 13.1273C12.341 13.0591 13.2358 12.5866 13.4225 12.0579C13.6138 11.5291 13.6138 11.0904 13.5575 10.9891C13.502 10.8879 13.355 10.8316 13.13 10.7304Z" fill="white")
                                path(d="M15.3897 2.58703C9.62308 -2.98762 0.0794986 1.05556 0.0757486 8.91991C0.0757486 10.4919 0.487491 12.0249 1.27198 13.3786L0 18L4.75116 16.761C10.6798 19.9635 17.9967 15.711 17.9997 8.92441C17.9997 6.54246 17.0697 4.30075 15.3785 2.61628L15.3897 2.58703ZM16.5012 8.89966C16.4967 14.6243 10.2126 18.1995 5.2424 15.2776L4.97241 15.1171L2.15996 15.8483L2.9137 13.1146L2.73445 12.8333C-0.358494 7.90968 3.19494 1.4748 9.05384 1.4748C11.0443 1.4748 12.9125 2.25103 14.3195 3.65726C15.7257 5.05148 16.5012 6.9197 16.5012 8.89966Z" fill="white")
                    li
                        a(href="#").social-icon
                            svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M9.00301 4.37796C6.45081 4.37796 4.38459 6.44643 4.38459 8.99638C4.38459 11.5486 6.45306 13.6148 9.00301 13.6148C11.5552 13.6148 13.6214 11.5463 13.6214 8.99638C13.6214 6.44418 11.553 4.37796 9.00301 4.37796ZM9.00301 11.9941C7.34629 11.9941 6.00531 10.6524 6.00531 8.99638C6.00531 7.34041 7.34704 5.99868 9.00301 5.99868C10.659 5.99868 12.0007 7.34041 12.0007 8.99638C12.0015 10.6524 10.6597 11.9941 9.00301 11.9941Z" fill="white")
                                path(d="M12.7109 0.056539C11.055 -0.0207096 6.9533 -0.0169597 5.29583 0.056539C3.83935 0.124788 2.55463 0.476532 1.51889 1.51226C-0.212076 3.24323 0.00917029 5.57569 0.00917029 8.99638C0.00917029 12.4973 -0.185826 14.7758 1.51889 16.4805C3.25661 18.2175 5.62282 17.9902 9.00301 17.9902C12.471 17.9902 13.6679 17.9925 14.8942 17.5177C16.5614 16.8705 17.8199 15.3803 17.9429 12.7036C18.0209 11.0468 18.0164 6.94592 17.9429 5.28845C17.7944 2.12875 16.0986 0.212536 12.7109 0.056539ZM15.3322 15.3353C14.1974 16.47 12.6232 16.3688 8.98126 16.3688C5.23133 16.3688 3.7276 16.4243 2.63037 15.324C1.36665 14.0663 1.59539 12.0466 1.59539 8.98438C1.59539 4.8407 1.17015 1.85651 5.32883 1.64351C6.28431 1.60976 6.56556 1.59851 8.97076 1.59851L9.00451 1.62101C13.0012 1.62101 16.1369 1.20252 16.3251 5.36045C16.3679 6.30918 16.3776 6.59417 16.3776 8.99563C16.3769 12.7021 16.4474 14.2148 15.3322 15.3353Z" fill="white")
                                path(d="M13.8044 5.27495C14.4005 5.27495 14.8837 4.79176 14.8837 4.19572C14.8837 3.59967 14.4005 3.11649 13.8044 3.11649C13.2084 3.11649 12.7252 3.59967 12.7252 4.19572C12.7252 4.79176 13.2084 5.27495 13.8044 5.27495Z" fill="white")
        .navigation
            .logo
                a(href="#") 
                    //- img(src="/img/png/logo.png", alt="")
                    img(src="/img/png/logo_p1_anim.png", alt="")
                    img(src="/img/png/logo_p2_anim.png", alt="")
            a(href="#").menu(type="button" data-toggle="modal" data-target="#menu")
                .burger
                    span
                    span
                    span
                span меню
            .find-bar
                form(action="#")
                    input(type="text" placeholder="Я хочу найти..." id="disclose")
                    button(type="submit")
                        img(src="/img/png/search.png", alt="")
            ul.actions-icons
                li
                    a(href="#")
                        img(src="/img/png/point_wt.png", alt="")
                        span Адреса
                li
                    a(href="#")
                        img(src="/img/png/log_in.png", alt="")
                        span Войти
                li
                    a(href="#")
                        img(src="/img/png/basket.png", alt="")
                        span Корзина