.sticky-block
    a(href="#").icon-home
        span
    a(href="#")
        img(src="", alt="")
    a(href="#")
        img(src="", alt="")
    a(href="#")
        img(src="", alt="")
    a(href="#")
        img(src="", alt="")