.sticky-block
    a(href="#").icon-home.active
        span
    a(href="#").icon-menu
        span
    a(href="#").icon-login
        span
    a(href="#").icon-basket
        span
    //- a(href="#")
    //-     span.icon-home
    //- a(href="#")
    //-     span.icon-menu