.sticky-block
    a(href="#").active
        span.icon-home
    a(href="#")
        span.icon-menu
    a(href="#")
        span.icon-login
    a(href="#")
        span.icon-basket
    //- a(href="#")
    //-     span.icon-home
    //- a(href="#")
    //-     span.icon-menu