// media containers
.container{
    width: 100%;
    max-width: 1410px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
}
@media screen and (max-width: 1600px) {
    .container
    {
        width: 90%;
    }
}