@import "import/reset";
@import "import/fonts";
@import "container.scss";
// Стили для header
header{
    min-height: 218px;
    background: linear-gradient(90.56deg, #CB218E 0%, #6617CB 100%);
}
.header{
    padding-top: 26px;
}
.header .right{
    display: inline-flex;
    flex: 1;
    align-items: center;
}
// -- -- start -- --
// header кнопки
.buttons{
    display: inline-flex;
    flex-direction: row;
    gap: 22px;
    margin-right: 56px;
}
.button{
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    // button style
    // padding: 11px 28px;
    height: 42px;
    &:hover{
        background: white;
        // transition: all 0.5s;
        color: #fa6379;
        font-weight: 800;
        // padding: 11px 24.075px;
    }
}
.empty{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50px;
    width: 189px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.linear{
    background: linear-gradient(93.12deg, #F67062 0%, #FC5296 100%);
    border-radius: 50px;
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
}
// -- -- end -- --
// -- -- start -- --
// header контакты
.contacts{
    display: inline-flex;
    gap: 45px;
    margin-right: 79px;
    ul li{
        font-family: "Inter";
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        padding-bottom: 6px;
        a{
            &:hover{
                text-decoration: underline;
            }
        }
        span{
            font-weight: 800;
        }
        &.additionally{
            padding-top: 3px;
            font-size: 14px;
            line-height: 17px;
            opacity: 0.72;
            a &:hover{
                text-decoration: underline;
            }
        }
    }
    .img{
        // flexing
        display: flex;
        align-items: center;
        justify-content: center;
        // styling
        width: 42px;
        height: 42px;
        background-color: #fff;
        border-radius: 21px;
        margin-right: 14px;
    }
}
.phones,.residence{
    display: flex;
}
.residence{
    ul li{
        line-height: 24px;
    }
    ul li.additionally{
        padding-top: 0px;
    }
}
// -- -- end -- --
// -- -- start -- --
// header значки социальных сетей
ul.social{
    display: inline-flex;
    flex-direction: row;
    gap: 8px;
}
.social-icon{
    // centering by flex
    display: flex;
    align-items: center;
    justify-content: center;
    // styling by figma
    background: linear-gradient(93.12deg, #F67062 0%, #FC5296 100%);
    width: 42px;
    height: 42px;
    border-radius: 21px;
    &:hover{
        transition: all 0.5s;
        -webkit-box-shadow: 0px 0px 8px 20px rgba(255, 255, 255, 0.2);
        -moz-box-shadow: 0px 0px 8px 20px rgba(255, 255, 255, 0.2);
        box-shadow: 0px 0px 8px 8px rgba(255, 255, 255, 0.4);
    }
}
// -- -- end -- --
// media for header
@media screen and (max-width: 1600px) {
    .buttons{
        flex-direction: column-reverse;
        align-items: center;
    }
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .contacts{
        flex: 2;
        justify-content: end;
        margin-right:0;
        gap: 30px;
    }
    ul.social{
        flex: 1;
        justify-content: flex-end;
    }
  }
@media screen and (max-width: 1280px) {
    .header .right{
        flex-direction: column;
        row-gap: 25px;
    }
    .contacts{
        width: 100%;
        justify-content: space-around;
    }
}
@media screen and (max-width: 1024px) {
    .header{
        flex-direction: column;
        row-gap: 30px;
    }
    .buttons{
        margin: 0;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }
}
//   end
// navigation
.navigation{
    display: flex;
    align-items: center;
    margin-top: 25px;
    padding-bottom: 31px;
}
.logo{
    display: inline-flex;
    // 
    margin-right: 49px;
    a{
        width: 160px;
    }
}
.actions-icons{
    // flexing
    display: inline-flex;
    gap:30px;
    // text style
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    // text-align: center;
    color: #FFFFFF;
    li a{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 56px;
        justify-content: space-between;
        &:hover{
            text-decoration: underline;
        }
    }
}
.find-bar{
    display: inline-flex;
    margin-right: 66px;
    flex: 1;
    form{
        position: relative;
        width: 100%;
        display: flex;
        input{
            // при адаптиве нужно менять
            // нужно сразу продумать
            width: 100%;
            max-width: 772px;
            height: 60px;
            background: rgba(255, 255, 255, 0.08);
            border: 1px solid rgba(255, 255, 255, 0.32);
            box-sizing: border-box;
            border-radius: 50px;
            padding-left: 36px;
            padding-right: 72px;
            // fonts
            font-family: "Inter";
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            &::placeholder{
                font-family: "Inter";
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;
            }
            &:focus-visible{
                outline: none;
            }
        }
        button{   
            background: none;
            // position: absolute;
            // top: 20px;
            // left: 717px;
            &:hover{
                transform: scale(1.15);
                transition: all 0.3s;
            }
            margin-left: -58px;
        }
    }
}
.menu{
    display: inline-flex;
    align-items: center;
    margin-right: 50px;
    .burger{
        display: inline-flex;
        flex-direction: column-reverse;
        gap: 8px;
        span{
            display: block;
            width: 42px;
            height: 3px;
            background: #FFFFFF;
            border-radius: 5px;
        }
    }
    span{
        padding-left: 14px;
        font-family: "Inter";
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.42);
    }
}
// end
// media for navigation
@media screen and (max-width: 1600px) {
    
  }
// mobile stycki block
.sticky-block{
    width: 100%;
    position: fixed;
    background: black;
    height: 20px;
    bottom: 0px;
    .icon-home{
        span{
            background-image:url(../img/svg/home-icon.svg);
            width: 24px;
            height: 20px;
            display: flex;
        }
        &.active span{
            background-position-x: 100%;
        }
    }
}