@import "import/reset";
@import "import/fonts";
@import "container.scss";
// Стили для header
header{
    min-height: 218px;
    background: linear-gradient(90.56deg, #CB218E 0%, #6617CB 100%);
    // for mobilemenu
    position: relative;
    z-index: 1051;
}
.header{
    padding-top: 26px;
}
.header .right{
    display: inline-flex;
    flex: 1;
    align-items: center;
}
// -- -- start -- --
// header кнопки
.buttons{
    display: inline-flex;
    flex-direction: row;
    gap: 22px;
    margin-right: 56px;
}
.button{
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    transition: all 0.5s;
    // button style
    // padding: 11px 28px;
    height: 42px;
    &:hover{
        background: white;
        color: #fa6379;
        font-weight: 800;
        text-decoration: none;
    }
}
.empty{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50px;
    width: 189px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.linear{
    background: linear-gradient(93.12deg, #F67062 0%, #FC5296 100%);
    border-radius: 50px;
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
        background: linear-gradient(93.12deg, #FA5A49 0%, #FB3786 100%);
        color: white;
        font-weight: 800;
    }
}
// -- -- end -- --
// -- -- start -- --
// header контакты
.contacts{
    display: inline-flex;
    gap: 45px;
    margin-right: 79px;
    ul li{
        font-family: "Inter";
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        padding-bottom: 6px;
        a{
            &:hover{
                text-decoration: underline;
                color: #FFFFFF;
            }
        }
        span{
            font-weight: 800;
        }
        &.additionally{
            padding-top: 3px;
            font-size: 14px;
            line-height: 17px;
            opacity: 0.72;
            a &:hover{
                text-decoration: underline;
            }
        }
    }
    .img{
        // flexing
        display: flex;
        align-items: center;
        justify-content: center;
        // styling
        width: 42px;
        height: 42px;
        background-color: #fff;
        border-radius: 21px;
        margin-right: 14px;
    }
}
.phones,.residence{
    display: flex;
}
.residence{
    ul li{
        line-height: 24px;
    }
    ul li.additionally{
        padding-top: 0px;
    }
}
// -- -- end -- --
// -- -- start -- --
// header значки социальных сетей
ul.social{
    display: inline-flex;
    flex-direction: row;
    gap: 8px;
}
.social-icon{
    // centering by flex
    display: flex;
    align-items: center;
    justify-content: center;
    // styling by figma
    background: linear-gradient(93.12deg, #F67062 0%, #FC5296 100%);
    width: 42px;
    height: 42px;
    border-radius: 21px;
    &:hover{
        background:white;
        path{
            fill:#F67062;
            transition: all 0.5s;
        }
        transition: all 0.5s;
    }
}
// -- -- end -- --
// media for header
@media screen and (max-width: 1600px) {
    .buttons{
        flex-direction: column-reverse;
        align-items: center;
    }
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .contacts{
        flex: 2;
        justify-content: end;
        margin-right:0;
        gap: 30px;
    }
    ul.social{
        flex: 1;
        justify-content: flex-end;
    }
  }
@media screen and (max-width: 1280px) {
    .header .right{
        flex-direction: column;
        row-gap: 25px;
    }
    .contacts{
        width: 100%;
        justify-content: space-around;
    }
}
@media screen and (max-width: 1024px) {
    .header{
        flex-direction: column;
        row-gap: 30px;
    }
    .buttons{
        margin: 0;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }
}
// 
//   end
// navigation
.navigation{
    display: flex;
    align-items: center;
    margin-top: 25px;
    padding-bottom: 31px;
}
.logo{
    display: inline-flex;
    // 
    margin-right: 49px;
    position: relative;
    // 
    // vertizl-align:top;
    a{
        width: 160px;
        // 
        &:hover{
            img{
                &:nth-child(2){
                    -webkit-transform: rotateY( 180deg );
                    -moz-transform: rotateY( 180deg );
                    -ms-transform: rotateY( 180deg );
                    -o-transform: rotateY( 180deg );
                    transform: rotateY( 180deg );
                }
            }
        }
        img{
            &:nth-child(2){
                position: absolute;
                left: 82px;
                bottom: 12px;
                // 
                // -webkit-transform: rotateY( 180deg );
                // -moz-transform: rotateY( 180deg );
                // -ms-transform: rotateY(180deg);
                // -o-transform: rotateY( 180deg );
                // transform: rotateY( 180deg );
                -webkit-transition: -webkit-transform 0.5s;
                -moz-transition: -moz-transform 0.5s;
                -ms-transition: -moz-transform 0.5s;
                -o-transition: -o-transform 0.5s;
                transition: transform 0.5s; /* продолжительность поворота */
                -webkit-transform-style: preserve-3d;
                -moz-transform-style: preserve-3d;
                -ms-transform-style: preserve-3d;
                -o-transform-style: preserve-3d;
                transform-style: preserve-3d; 
            }
        }
    }
}
.actions-icons{
    // flexing
    display: inline-flex;
    gap:30px;
    // text style
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    // text-align: center;
    color: #FFFFFF;
    li a{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 56px;
        justify-content: space-between;
        &:hover{
            text-decoration: underline;
            color: #FFFFFF;
        }
    }
}
.find-bar{
    display: inline-flex;
    margin-right: 66px;
    flex: 1;
    form{
        position: relative;
        width: 100%;
        display: flex;
        input{
            // при адаптиве нужно менять
            // нужно сразу продумать
            width: 100%;
            max-width: 772px;
            height: 60px;
            background: rgba(255, 255, 255, 0.08);
            border: 1px solid rgba(255, 255, 255, 0.32);
            box-sizing: border-box;
            border-radius: 50px;
            padding-left: 36px;
            padding-right: 72px;
            // fonts
            font-family: "Inter";
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            &::placeholder{
                font-family: "Inter";
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;
            }
            &:focus-visible{
                outline: none;
            }
        }
        button{   
            background: none;
            // position: absolute;
            // top: 20px;
            // left: 717px;
            &:hover{
                transform: scale(1.15);
                transition: all 0.3s;
            }
            margin-left: -58px;
        }
    }
}
.menu{
    display: inline-flex;
    align-items: center;
    margin-right: 50px;
    &:hover{
        text-decoration: none;
    }
    .burger{
        // display: inline-flex;
        // flex-direction: column-reverse;
        // gap: 8px;
        // position: fixed;
        position: relative;
        top: 16px;
        right: -20px;
        transform: translate(-50%,-50%);
        width: 39px;
        height: 36px;
        cursor: pointer;
        z-index: 1;
        &.active{
            li{
                &:nth-of-type(1){
                    top: 50%;
                    transform: translateY(-50%) rotate(45deg) rotateY(180deg);
                }
                &:nth-of-type(2){
                    // left: 300%;
                    opacity: 0;
                }
                &:nth-of-type(3){
                    top: 50%;
                    transform: translateY(-50%) rotate(-45deg) rotateY(180deg);
                }
            }
        }
        li{
            list-style: none;
            width: 100%;
            height: 3px;
            border-radius: 15px;
            background: #fff;
            position: absolute;
            left: 0;
            transform: translateY(-50%);
            transition: .9s;
            &:nth-child(1){
                top: 20%;
            }
            &:nth-child(2){
                top: 50%;
            }
            &:nth-child(3){
                top: 80%;
            }
        }
        span{
            display: block;
            width: 42px;
            height: 3px;
            background: #FFFFFF;
            border-radius: 5px;
        }
    }
    span{
        padding-left: 14px;
        font-family: "Inter";
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.42);
    }
}
// end
// media for navigation
@media screen and (max-width: 1600px) {
    
  }
// mobile stycki block
.sticky-block{
    width: 100%;
    position: fixed;
    background: linear-gradient(90.56deg, #4621CB 0%, #6617CB 100%);
    height: 20px;
    bottom: 0px;
    // display: flex;
    display: none;
    flex-direction: row;
    height: auto;
    padding: 12px 0;
    align-items: center;
    justify-content: space-around;
    span{
        
        // width: 21px;
        // height: 20px;
        display: flex;
        //
        // height: 52px;
        // width: 56px;
        // background-size: 130px;
        height: 7vw;
        width: 7vw;
        background-size: 17vw;
        background-repeat: no-repeat;
        background-position-y: center;
    }
    .active{
        span{
            background-position-x: 100%;
        }
    }
    //         background-position-x: 100%;
    .icon-menu{
        span{
            background-image:url(../img/svg/menu-icon.svg);
        }
    }
    .icon-home{
        span{
            background-image:url(../img/svg/home-icon.svg);
        }
    }
    .icon-login{
        span{
            background-image:url(../img/svg/login.svg);
        }
    }
    .icon-basket{
        span{
            background-image:url(../img/svg/basket.svg);
        }
    }
}
@media screen and (max-width: 768px) {
    .copyright{
        p{
            font-family: "Inter";
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 124.7%;
            text-transform: uppercase;
            color: #FFFFFF;
            padding: 15px 0;
        }
        a{
            font-family: "Inter";
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 124.7%;
            text-align: right;
            text-decoration-line: underline;
            color: #FFFFFF;
            padding: 15px 0;
        }
    }
    header{
        min-height: auto !important;
        height: 162px;
    }
    .sticky-block{
        display: flex;
        z-index: 1051;
    }
    .header{
        display: none;
        // перенести все в меню
    }
    .actions-icons{
        display: none;
    }
    .navigation{
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 15px;
        padding-top: 31px;
    }
    .menu{
        order: -1;
        margin-right: 0 !important;
    }
    .logo{
        margin-right: 0 !important;
    }
    .find-bar{
        margin: 0;
        flex-basis: 100%;
    }
}
footer{
    .container{
        padding-bottom: 44px;
    }
    height: auto;
    background: #6617CB;
    .column{
        &.additional
        {
            display: none;
        }
        padding: 12px 0;
        .nav-block{
            margin-top: 24px;
            &:first-of-type{
                margin-top: 0 !important;
            }
        }
    }
    ul.nav-block{
        font-family: "Inter";
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 38px;
        color: #FFFFFF;
        // mobile first - with animation
        cursor: pointer;
        height: 38px;
        overflow: hidden;
        position: relative;
        border-top: 1px solid rgba(255,255,255,.2);
        border-bottom: 1px solid rgba(255,255,255,.2);
        &.opened{
            height: auto;
            li{
                opacity: 1; /* Показываем подменю при ховере */
                visibility: visible;
            }
            &::before{
                transform: rotate(180deg);
            }
        }
        &::before{
            transition: transform .3s ease 0s,-webkit-transform .3s ease 0s;
            content: "";
            display: block;
            width: 16px;
            height: 10px;
            position: absolute;
            top: 15px;
            right: 0;
            background: url(../img/svg/arrows.svg);
        }
        li{
            font-family: "Inter";
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 38px;
            color: #FFFFFF;
            opacity: 0.8;
            // mobile first - with animation
            opacity: 0; /* По умолчанию скрываем подменю */
            visibility: hidden;
            transition-property: opacity, visibility;
            transition-duration: 0.2s; /* Добавляем анимацию 0.3 сек. */
            transition-delay: 0.15s; /* Добавляем задержку в 0.15 сек. */
            a{
                &:hover{
                    text-decoration: underline;
                    color: #FFFFFF;
                }
            }
        }
    }
}
@media screen and (min-width: 769px) {
    
    .copyright{
        border-top: 1px solid rgba(255, 255, 255, 0.24);
        padding-top: 0px;
        margin-top: 52px;
        padding-top: 42px;
        padding-bottom: 45px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        p{
            font-family: "Inter";
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 124.7%;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        a{
            font-family: "Inter";
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 124.7%;
            text-align: right;
            text-decoration-line: underline;
            color: #FFFFFF;
        }
    }
    footer{
        .footer{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .column{
            flex-basis: 50%;
        }
        ul.nav-block{
            border:none;
            cursor:default;
            height: auto;
            li{
                opacity: 1;
                visibility: visible;
            }
            &::before{
                display: none;
            }
        }
    }
}
@media screen and (min-width: 1025px) {
    .column{
        display: flex;
        flex-direction: row;
        .nav-block{
            margin: 0 !important;
        }
    }
    .column.additional{
        display: block !important;
    }
    .column{
        flex-basis: 33% !important;
    }
    .column:nth-child(2){
        flex-basis: 67% !important;
        .nav-block{
            flex-basis: 50%;
        }
    }
}
@media screen and (min-width: 1281px) {
    .footer{
        .column{
            flex-basis: auto !important;
        }
    }
    .column{
        display: block;
        .nav-block{
            margin-top: 38px !important;
            &:first-of-type{
                margin-top: 0 !important;
            }
        }
    }
    .column:nth-child(1){margin-right: 126px;}
    .column:nth-child(2){margin-right: 153px;}
    .column:nth-child(3){margin-right: 139px;}
}
// modal menu
#menu{
    background: linear-gradient(90.56deg, #CB218E 0%, #6617CB 100%);
    .modal-dialog{
        margin: 0;
        top: -1px;
        left: -1px;
        width: 345px;
        height: calc(101% - 162px);
        top:162px;
        display: flex;
        flex-direction: row;
        width: auto;
        // mobile-first
        max-width: unset;

        // max-width: max-content;
        .modal-body{
            
            ul{
                // mobile-first
                margin-bottom: calc(7vw + 24px);
                // top: 162px;
                // position: relative;
                // margin-top: 116px;
                // margin-bottom: 116px;
                span{
                    display: none;
                }
                li {
                    padding-bottom: 14px;
                    &.top-item{
                        a.no-link{
                            &.active{
                                margin-left: -16px;
                                padding-left: 68px;
                                pointer-events: none;
                                color: #FFFFFF;
                                padding-top: 6px;
                                padding-bottom: 6px;
                                &::before{
                                    background: url(../img/svg/before_menu_wh.svg);
                                }
                                &::after{
                                    display: none;
                                }
                                background: linear-gradient(93.12deg, #F67062 0%, #FC5296 100%);
                                border-radius: 0px 8px 8px 0px; 
                            }
                            position: relative;
                            &::before{
                                content: '';
                                background: url(../img/svg/before_menu.svg);
                                width: 17px;
                                height: 24px;
                                display: block;
                                margin-right: 13px;
                            }
                            &::after{
                                width: 10px;
                                height: 16px;
                                background-image: url(../img/svg/arrow-right.svg);
                                content: '';
                                display: block;
                                position: absolute;
                                top: calc(50% - 8px);
                                right: 24px;
                            }
                        }
                    }
                    a{
                        display: flex;
                        align-items: center;
                    // 
                    font-family: "Inter";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 148.3%;
                    color: #252525;
                    }
                }
                .sub-category{
                    li{
                        font-family: "Inter";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 148.3%;
                        color: #252525;
                        padding: 17px 52px;
                        .arrow{
                            position: relative;
                            &.opened{
                                &::before{
                                    transform: rotate(180deg);
                                }    
                            }
                            &::before{
                                transition: transform .3s ease 0s,-webkit-transform .3s ease 0s;
                                content: "";
                                display: block;
                                width: 16px;
                                height: 10px;
                                position: absolute;
                                top: 15px;
                                right: 0;
                                background: url(../img/svg/arrows_gr.svg);
                            }
                        }
                    }
                    display: none;
                }
                .categories{
                    // display: none;
                    font-family: "Inter";
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 38px;
                    color: #FFFFFF;
                    // mobile first - with animation
                    cursor: pointer;
                    height: 0;
                    overflow: hidden;
                    position: relative;
                    // border-top: 1px solid rgba(255,255,255,.2);
                    // border-bottom: 1px solid rgba(255,255,255,.2);
                    margin-bottom: 0;
                    &.opened{
                        height: auto;
                        li{
                            opacity: 1; /* Показываем подменю при ховере */
                            visibility: visible;
                        }
                        &::before{
                            transform: rotate(180deg);
                        }
                    }
                    &::before{
                        transition: transform .3s ease 0s,-webkit-transform .3s ease 0s;
                        content: "";
                        display: block;
                        width: 16px;
                        height: 10px;
                        position: absolute;
                        top: 15px;
                        right: 0;
                        background: url(../img/svg/arrows.svg);
                    }
                    li{
                        font-family: "Inter";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 38px;
                        color: #FFFFFF;
                        opacity: 0.8;
                        // mobile first - with animation
                        opacity: 0; /* По умолчанию скрываем подменю */
                        visibility: hidden;
                        transition-property: opacity, visibility;
                        transition-duration: 0.2s; /* Добавляем анимацию 0.3 сек. */
                        transition-delay: 0.15s; /* Добавляем задержку в 0.15 сек. */
                        a{
                            &:hover{
                                text-decoration: underline;
                                color: #FFFFFF;
                            }
                        }
                    }
                }
                
            }
        }
        .back{
            display: none;
            font-family: "Inter";
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 148.3%;
            color: #252525;
            cursor: pointer;
            position: relative;
            padding: 17px 52px;
            &::before{
                width: 10px;
                height: 16px;
                background-image: url(../img/svg/arrow-right.svg);
                content: '';
                display: block;
                position: absolute;
                top: calc(50% - 8px);
                left: 24px;
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
        .modal-content{
            // mobile-first
            border-radius: 15px;
            height: 100%;
            // width: 345px;
            border: unset;
            border-right: 1px solid #EBEBEB;
            overflow-y: scroll;
            // mobile first
            width: 100%;
        }
        .modal-sub-content{
            height: 100%;
            background-color: #FFFFFF;
            width: 509px;
            &.hidden{
                display: none;
            }
        }
    }
}